﻿@page
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
        @TempData["message"]
        <br />
        <input type="button" value="Register A New User" onclick="@("window.location.href='" + @Url.Action("Account", "Identity") + "/Register'");" />

    </div>
