﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div>
            <!--<div asp-validation-summary="All" class="text-danger">-->
            @if (HttpContext.Request.Query["error"].Equals("existingemail"))
                {
            <ul>
                <li>
                    The Email address that you supplied already exists in the system. Either log in with that or create a new account.
                </li>
            </ul>
                }
</div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <!--<span asp-validation-for="Input.Email" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <!--<span asp-validation-for="Input.Password" class="text-danger"></span>-->
            </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <!--<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label>Role</label>
                <select asp-for="Input.Name" class="form-control"
                        asp-items='new SelectList(roles,"Id","Name")'></select>
                <!--<span asp-validation-for="Input.Name" class="text-danger"></span>-->
            </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
